* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #3E3636; }
  body header .flex-container {
    display: flex;
    background-color: black;
    flex-flow: row wrap;
    align-items: center; }
    body header .flex-container .caja {
      border: 1px solid black;
      color: #F5EDED;
      width: 500px;
      height: 90px;
      margin: 5px;
      padding: 5px; }
      body header .flex-container .caja h1 {
        font-family: "Roboto Slab", serif; }
      body header .flex-container .caja .logo {
        width: 80px;
        height: 80px; }
  body nav {
    background-color: #3E3636;
    width: 100%;
    height: 80px;
    margin: 10px auto; }
    body nav .navbar {
      background-color: #D72323; }
    body nav .menu1 {
      list-style-type: none;
      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      body nav .menu1 a {
        font-family: "Roboto Slab", serif; }
      body nav .menu1 .nav-item {
        padding: 10px;
        margin: 10px; }
        body nav .menu1 .nav-item :hover {
          background-color: #484649;
          border-radius: 15%; }
        body nav .menu1 .nav-item a {
          text-decoration: none;
          font-size: 30px;
          color: azure; }
          body nav .menu1 .nav-item a :hover {
            color: black; }
  body section {
    background-color: #3E3636; }
    body section .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
      grid-auto-rows: minmax(250px, auto);
      padding: 20px;
      margin: 10px;
      gap: 20px; }
      body section .grid-container .item1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px; }
        body section .grid-container .item1 .letraGrande {
          font-family: "Roboto Slab", serif; }
      body section .grid-container .item {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F5EDED;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
        body section .grid-container .item p {
          color: #F5EDED;
          text-shadow: black 0.1em 0.1em 0.2em;
          font-size: 30px; }
  body form {
    background-color: #F5EDED; }
    body form .mb-3 {
      width: 500px;
      padding: 10px;
      margin: 10px; }
    body form .submit {
      padding: 10px;
      margin: 10px; }
  body footer {
    background-color: #3E3636; }
    body footer .redes {
      display: flex;
      justify-content: right;
      padding: 10px;
      margin: 10px; }
  body article .programas {
    background-color: #F5EDED; }
  body article .noti-main {
    display: flex;
    flex-direction: column;
    background-color: #F5EDED;
    padding: 25px;
    gap: 30; }
    body article .noti-main .noti h2 {
      font-family: "Roboto Slab", serif; }

.item:hover {
  filter: opacity(0.9);
  transform: scale(1.04); }
