@mixin redesSociales{
    display: flex;
    justify-content: right;
    padding: 10px;
    margin: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$marronOscuro: #3E3636;
$marronClarito: #F5EDED;
$rojo: #D72323;
$letra: 'Roboto Slab', serif;

body{
    background-color: $marronOscuro;
    header{
        .flex-container{
            display: flex;
            background-color: black;
            flex-flow: row wrap;
            align-items: center;
            .caja{
                border: 1px solid black;
                color: #F5EDED;
                width: 500px;
                height: 90px;
                margin: 5px;
                padding: 5px;
                h1{
                    font-family: $letra;
                }
                .logo{
                    width: 80px;
                    height: 80px;
                }
                }
        }
    }
    nav{
        background-color: $marronOscuro;
        width: 100%;
        height: 80px;
        margin: 10px auto;
        .navbar{
            background-color: $rojo;
        }
        .menu1{
            list-style-type: none;
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            a{
                font-family: $letra;
            }
            .nav-item{
                padding: 10px;
                margin: 10px;
                :hover{
                    background-color: #484649;
                    border-radius: 15%;
                }
                a{
                    text-decoration: none;
                    font-size: 30px;
                    color: azure;
                    :hover{
                        color: black; 
                    }
                }
            }    
        }
    }
    section{
        background-color: $marronOscuro;
        .grid-container{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
            grid-auto-rows: minmax(250px, auto);
            padding: 20px;
            margin: 10px;
            gap: 20px;
            .item1{
                
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 10px;
                .letraGrande{
                    font-family: $letra;
                }
            }
            .item {
                display: flex;
                align-items: center;
                justify-content: center;
              
                background-color: #F5EDED;
                border-radius: 4px;
                transition: transform 0.3s ease-in-out;
              
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                
                p{
                    color: #F5EDED; text-shadow: black 0.1em 0.1em 0.2em;
                    font-size: 30px;
                }    
            }
        }
    }
    form{
        background-color: $marronClarito;
        .mb-3 {
            width: 500px;
            padding: 10px;
            margin: 10px; 
        }
        .submit {
            padding: 10px;
            margin: 10px; 
        }
    }
    footer{
        background-color: $marronOscuro;
        .redes{
            @include redesSociales;
        }    
    }
    article{
        
        .programas{
            background-color: $marronClarito;
        }
        .noti-main{
            display: flex;
            flex-direction: column;
            background-color: $marronClarito;
            padding: 25px;
            gap: 30;
            .noti{
                h2{
                    font-family: $letra;
                }
            }
          
          }
    }
}
.item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
  }     

